<a href="https://colab.research.google.com/github/raquelcreis/CastoresIndomaveis/blob/master/lista001_python_Raquel_Reis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lista 01 - Python - Raquel Reis

Nessa lista você deverá desenvolver o código para resolver as questões abaixo. Divida bem suas questões e utilize células markdown para indicar qual questão está respondendo. Documento bem seu código utilizando docstrings, comentários e célular markdown.

1 - Execute todas as operações aritiméticas básicas (adição, subtração, divisão e multiplicação) com as variáveis 'a' e 'b' abaixo.

a = 15
b = 12

In [ ]:
a = 15
b = 12
print("a + b = ",a+b,"\na - b = ",a-b,"\na * b = ",a*b,"\na / b = ",a/b,)

a + b =  27
a - b =  3
a * b =  180
a / b =  1.25

2 - Tente calcular o seu IMC utilizando somente operações matemáticas. Dica: o IMC é calculado da seguinte forma: IMC = peso / (altura em metros * altura em metros)

In [ ]:
peso = input("Informe seu peso (kg):")
peso = float(peso)
altura = input("Informe sua altura (m):")
altura = float(altura)
IMC = peso / (altura **2)
print("Seu IMC é:",IMC)

Informe seu peso (kg):67
Informe sua altura (m):1.61
Seu IMC é: 25.847768218818715

3 - Sua professora de português pediu para você escrever a frase 'português é maravilhoso' 50 vezes. Como resolver esse problema com python? Demonstre sua solução.

In [ ]:
for i in range(50):
  print("português é maravilhoso")

português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso
português é maravilhoso

4 - Um modelo de regressão linear possui a seguinte fórmula: y=0.253*x + 125. Qual será o valor de Y quando X for 125?

In [ ]:
x = 125
y=0.253*x + 125
y

156.625

5 - Qual é raiz cubica de 144? Utilize somente operações python apresentadas neste notebook.

In [ ]:
r_Cub144 = 144**(1/3)
r_Cub144

5.241482788417793

6 - Nossa matéria terá dois trabalhos! Os pesos são, respectivamente, 4 e 6. Imagine que você tenha tirado 8.2 no primeiro projeto e 3.3 no segundo projeto. Levando em consideração sua nota final e os pesos, você tirou uma média maior que 5?

In [ ]:
n1 = 8.2
n2 = 3.3
nota_Final = 0.4*n1 + 0.6*n2
if nota_Final > 5:
  print("Acima da média 5")
else:
  print("Abaixo da média 5")

Acima da média 5


7 - Crie uma lista 'a_list' com os seguintes valores: 1, hello, [1,2,3] e True.

In [ ]:
a_list = [1, "hello", [1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

8 - Ache o valor em 'a_list' que esteja no índice -1.

In [ ]:
a_list[-1]

True

9 - Encontre os valores em 'a_list' que estejam nos indices 1,2 e 3.

In [ ]:
for i in range(3):
  print(a_list[i+1])

hello
[1, 2, 3]
True

10 - Junte as seguinte listas a=[1,2,3,4,5] e b=[11,12,13,14,15]

In [ ]:
a = [1,2,3,4,5]
b = [11,12,13,14,15]
a+b

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

11 - Crie uma lista de listas 'list_list' que tenha os valores de 'a_list', 'a' e 'b'

In [ ]:
list_list = a_list + a + b
list_list

[1, 'hello', [1, 2, 3], True, 1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

12 - Qual o tamanho de 'list_list'?

In [ ]:
len(list_list)

14

13 - Adicione o valor 125 ao final de 'list_list'.

In [ ]:
list_list.append(125)
list_list

[1, 'hello', [1, 2, 3], True, 1, 2, 3, 4, 5, 11, 12, 13, 14, 15, 125]

14 - Remova a lista [1,2,3] de 'list_list' e guarde esse valor numa variável 'list_a'.

In [ ]:
list_a = [1,2,3]
list_list.remove([1,2,3])
list_list

[1, 'hello', True, 1, 2, 3, 4, 5, 11, 12, 13, 14, 15, 125]

15 - Qual é o primeiro valor do segundo valor de [[1,3,5,7],[2,4,6,8,10]]?

In [ ]:
lista = [[1,3,5,7],[2,4,6,8,10]]
lista[1][0]

2

16 - Crie a tupla 'gnr' com os seguintes valores: rock, metal, sertanejo, pop, lo-fi e chillwave, nessa ordem.

In [ ]:
gnr = ("rock","metal","sertanejo","pop","lo-fi","chillwave")

17 - Qual o terceiro valor da tupla 'gnr'?

In [ ]:
gnr[2]

'sertanejo'

18 - Qual o índice de lofi?

In [ ]:
gnr.index("lo-fi")

4

19 - Crie uma tupla de tuplas com as seguintes tuplas (15,30), (20,40) e (25,50). Como acessar o valor 40?

In [ ]:
tup_tup = ((15,30),(20,40),(25,50))
tup_tup[1][1]

40

20 - Acesse a tupla 'gnr' a cada dois valores, qual gêneros musicais aparecem?

In [ ]:
gnr[::2]

('rock', 'sertanejo', 'lo-fi')

21 - Crie o dicionário 'mcu' com os seguintes dados, 'Homem de Ferro':2008, 'Homem de Ferro 2':2010, 'Homem de ferro 3':2013, 'Avengers: Endgame':2019.

    a - No dicionário 'mcu' quais são os valores?

    b - No dicińario 'mcu' quais são as chaves?

    c - Adicione ao dicionário 'mcu' os seguintes filmes: 'Avengers Infinity War':2018, 'Avengers Age of Ultron':2015.

    d - Delete o filme 'Homem de Ferro 3' do dicionário 'mcu'

    e - Limpe o dicionário 'mcu'

In [ ]:
mcu = { 'Homem de Ferro':2008,
        'Homem de Ferro 2':2010, 
        'Homem de Ferro 3':2013,
        'Avengers:Endgame':2019,  
        }

In [ ]:
# letra a
mcu.values()

dict_values([2008, 2010, 2013, 2019])

In [ ]:
# letra b
mcu.keys()

dict_keys(['Homem de Ferro', 'Homem de Ferro 2', 'Homem de Ferro 3', 'Avengers:Endgame'])

In [ ]:
# letra c
mcu['Avengers Infinity War'] = 2018
mcu['Avengers Age of Ultron'] = 2015
mcu

{'Avengers Age of Ultron': 2015,
 'Avengers Infinity War': 2018,
 'Avengers:Endgame': 2019,
 'Homem de Ferro': 2008,
 'Homem de Ferro 2': 2010,
 'Homem de Ferro 3': 2013}

In [ ]:
# letra d
del mcu['Homem de Ferro 3']
mcu

{'Avengers Age of Ultron': 2015,
 'Avengers Infinity War': 2018,
 'Avengers:Endgame': 2019,
 'Homem de Ferro': 2008,
 'Homem de Ferro 2': 2010}

In [ ]:
# letra e
mcu.clear()

22 - Popule o dicionário vazio 'mcu' com as informações abaixo:

'homem de ferro':{'filmes':3,'ator principal':'Robert Downey Jr.'},'Cpt.América':{'filmes':3,'ator principal':'Chris Evans'}

In [ ]:
mcu = {'homem de ferro':{'filmes':3,'ator principal':'Robert Downey Jr.'},
       'Cpt.América':{'filmes':3,'ator principal':'Chris Evans'}
      }

23 - Acesse somente a quantidade de filmes de cada uma das chaves do dicionário MCU.

In [ ]:
mcu['homem de ferro']['filmes']

3

In [ ]:
mcu['Cpt.América']['filmes']

3

24 - Quais são as chaves do dicionário de dicionários 'mcu'?

In [ ]:
mcu.keys()

dict_keys(['homem de ferro', 'Cpt.América'])

25 - Qual o tamanho do dicionário de dicionários 'mcu'?

In [ ]:
len(mcu)

2

26 - Escreva uma função python que receba uma lista e separe os múltiplos de 5. Ao final ela retorna a soma de todos os valores da lista de entrada que são múltiplos de 5.

In [ ]:
def mult5(numeros):
  return sum([num for num in numeros if num%5==0])

In [ ]:
#teste para função q26
teste_funcao = [1,2,3,4,5,6,7,8,9,10]
mult5(teste_funcao)

15

27 - Escreva uma função para verificar se uma palavra é um palíndromo e retorne 1 em casos positivos e zero em casos negativos.

In [ ]:
def palindromo(palavra):
  # deixar tudo minusculo
  palavra = palavra.lower()

  # varrendo a palavra da direita para esquerda
  inverso = palavra[::-1]

  if palavra == inverso:
    return 1
  else:
    return 0

In [ ]:
#teste função q27

teste1 = "Arara"
palindromo(teste1)

1

28 - Escreva uma função que receba uma lista crie um dicionário com a contagem dos valores dessa lista.

In [ ]:
def cria_dict(lista):
  dicionario = {li:lista.index(li) for li in lista}
  return dicionario

In [ ]:
# teste da função q28
lista_teste = [ 10,20,30,40,50]
cria_dict(lista_teste)

{10: 0, 20: 1, 30: 2, 40: 3, 50: 4}

29 - Escreva uma função que receba uma lista de listas, itere sobre cada lista, some seus valores, gere uma segunda lista e descubra o desvio padrão dela.

entrada : [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

In [ ]:
import numpy as np

def iter_lista(lista):
  somas = []
  for i in range(len(lista)):
    soma = sum(lista[i])
    somas.append(soma) 
  return np.std(somas)

In [ ]:
entrada = [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]
iter_lista(entrada)

739.9846282187218

30 - Escreva uma função que gere uma sequencia de Fibonnaci. O único parâmetro é a quantidade de números que devem gerados. (Fibonnaci é uma sequencia onde o próximo número é a soma dos dois imediatamente anteriores a ele).

In [ ]:
def fibonacci(numeros):
  
  fibo = [0,1]
  i = 2
  num = int(numeros)

  if (numeros < 0):
     return False
  elif numeros <=2:
    return fibo[0:numeros]
  else:
    for i in list(range(2,num,1)):
      temp = fibo[i-1] + fibo[i-2]
      fibo.append(temp)
    return fibo

31 - Monte uma função que vai calcular e comparar os custos de uma viagem para 3 cidades diferentes e que, ao final, irá recomendar qual é o destino mais barato. Essa função deve receber somente uma parâmetro 'noites'. A partir desse argumento a função deve calcular o custo total de viagem para cada uma das cidades. Utilize os dados abaixo.

|   Cidade  | Hotel/noite | Alimentação/noite | Locomoção/noite |
|:---------:|:-----------:|:-----------------:|:---------------:|
| Abu Dhabi |     1300    |        200        |       150       |
|  Genebra  |     1200    |        150        |        80       |
|    Oslo   |     1000    |        250        |       100       |

In [ ]:
def calc_p_viagem(noites):

  city1 = [1300,200,150]
  city2 = [1200,150,80]
  city3 = [1000,250,100]

  p_city1 = sum([(x*noites) for x in city1])
  p_city2 = sum([(x*noites) for x in city2])
  p_city3 = sum([(x*noites) for x in city3])

  viagens = { 'Abu Dhabi': p_city1,
              'Genebra': p_city2,
              'Oslo' : p_city3,   
            }
  cheapest = min(viagens, key=viagens.get)

  return viagens,"Destino mais barato:",cheapest

32 - Defina uma função que calcule o z-score de todos os valores de uma lista e encontre quem são os outliers (z-score abaixo de -3 e acima de 3). Use a lista abaixo:

lista8 = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]

In [ ]:
import numpy as np

In [ ]:
def z_score_outlier(lista):
  media = np.mean(lista)
  desvio = np.std(lista)
  outlier = []
  for i in lista:
    z = (i-media)/desvio
    if z < -3 or z > 3:
      outlier.append(i)
  return (outlier)

In [ ]:
#teste da funcao q32
lista8 = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]
z_score_outlier(lista8)

[-9249, 7598, 16600]


33 - Defina uma função que recebe uma lista aplica a fórmula abaixo a cada um dos valores e retorna uma lista com o resultado.

![minmax](https://github.com/raquelcreis/CastoresIndomaveis/blob/master/imgs/minmax.jpg?raw=1)

In [1]:
def form33(lista):
  return [(x - min(lista))/(max(lista) - min(lista)) for x in lista]

In [2]:
#teste da funcao q33
teste = [1,2,3,4,5]
form33(teste)

[0.0, 0.25, 0.5, 0.75, 1.0]


34 - Escreva um código que dê print em todos os quadrados dos valores de 0 a 10.

In [15]:
 for x in list(range(11)):
   print(x**2)

0
1
4
9
16
25
36
49
64
81
100

35 - Escreva um código que encontre a soma de todos os valores pares de 0 a 10.

In [26]:
soma = 0
for x in list(range(11)):
  if x%2 == 0:
    soma = soma + x

soma

30

37 - Construa uma função que receba 3 valores (a,b,c) e retorne uma lista com todos os valores entre 'a' e 'b' que são múltiplos de 'c'. Utilize os valores abaixo (10,500,23).

In [29]:
def multiplos(a,b,c):
  lista = list(range(a,b))
  return [x for x in lista if x%c == 0]

In [30]:
#teste da funcao q37

multiplos(10,500,23)

[23,
 46,
 69,
 92,
 115,
 138,
 161,
 184,
 207,
 230,
 253,
 276,
 299,
 322,
 345,
 368,
 391,
 414,
 437,
 460,
 483]

38 -Escreva um código para ter o seguinte output:
    
    1 ---- 99
    2 ---- 98
    3 ---- 97
    4 ---- 96
    .
    .
    .
    99 ---- 1

In [57]:
cresc = range(1,100,1)
decre = range(99,0,-1)
for x,y in zip(cresc,decre):
  print(x,"----",y)

1 ---- 99
2 ---- 98
3 ---- 97
4 ---- 96
5 ---- 95
6 ---- 94
7 ---- 93
8 ---- 92
9 ---- 91
10 ---- 90
11 ---- 89
12 ---- 88
13 ---- 87
14 ---- 86
15 ---- 85
16 ---- 84
17 ---- 83
18 ---- 82
19 ---- 81
20 ---- 80
21 ---- 79
22 ---- 78
23 ---- 77
24 ---- 76
25 ---- 75
26 ---- 74
27 ---- 73
28 ---- 72
29 ---- 71
30 ---- 70
31 ---- 69
32 ---- 68
33 ---- 67
34 ---- 66
35 ---- 65
36 ---- 64
37 ---- 63
38 ---- 62
39 ---- 61
40 ---- 60
41 ---- 59
42 ---- 58
43 ---- 57
44 ---- 56
45 ---- 55
46 ---- 54
47 ---- 53
48 ---- 52
49 ---- 51
50 ---- 50
51 ---- 49
52 ---- 48
53 ---- 47
54 ---- 46
55 ---- 45
56 ---- 44
57 ---- 43
58 ---- 42
59 ---- 41
60 ---- 40
61 ---- 39
62 ---- 38
63 ---- 37
64 ---- 36
65 ---- 35
66 ---- 34
67 ---- 33
68 ---- 32
69 ---- 31
70 ---- 30
71 ---- 29
72 ---- 28
73 ---- 27
74 ---- 26
75 ---- 25
76 ---- 24
77 ---- 23
78 ---- 22
79 ---- 21
80 ---- 20
81 ---- 19
82 ---- 18
83 ---- 17
84 ---- 16
85 ---- 15
86 ---- 14
87 ---- 13
88 ---- 12
89 ---- 11
90 ---- 10
91 ---- 9
92 ---- 8
93 ---- 7
94 ---- 6
95 ---- 5
96 ---- 4
97 ---- 3
98 ---- 2
99 ---- 1

39 - Construa uma função que receba um input e printe um padrão conforme exemplo.

input = 5

output:

+<br>
++<br>
+++<br>
++++<br>
+++++

In [64]:
def plus(numero):
  mais = "+"
  for x in range(numero+1):
    print(mais*x)

In [65]:
plus(5)

+
++
+++
++++
+++++

40 - Itere sobre a lista abaixo e crie uma nova lista com todos os nomes em letras maisculuas e com underline ao invés de espaços. Dica: utilize compreensão de listas.

lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

In [70]:
lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

[x.upper().replace(" ","_") for x in lista_nomes]

['GERALT_DE_RÍVIA',
 'YENNEFER_DE_VENGERBERD',
 'TRISS_MARIGOLD',
 'EMHYR_VAR_EMREIS',
 'JASKIER_O_BARDO']

41 - Voce é um jogador de tênis. Para decidir se você vai treinar hoje você deve avaliar duas coisas: o tempo e a temperatura. Crie um programa para saber se você deve ou não treinar hoje de acordo com as seguintes especificações: 

- Tempo: chuvoso -> não jogar
- Tempo: ensolarado ou nublado -> jogar
- Temperatura maior ou igual a 15 graus e tempo ensolarado ou nublado -> jogar
- Temperatura menor que 15 graus e tempo ensolarado ou nublado -> não jogar

Se o dia estiver ensolarado e a temperatura for de 16 graus. Você irá ou não jogar?

In [97]:
  temperatura = input("Qual a temperatura hoje?")
  temperatura = float(temperatura)
  tempo = input("Qual o tempo hoje: ensolarado, nublado ou chuvoso?")
  tempo = str(tempo)
  
  if (temperatura >= 15.0 and (tempo == "ensolarado" or tempo == "nublado")):
    print("Jogar") 
  elif (temperatura < 15.0 or tempo == "chuvoso"):
    print("Não jogar")
  elif (tempo!="chuvoso" or tempo!="ensolarado" or tempo!="nublado"):
    print("O tempo deve ser preenchido apenas com 'ensolarado','nublado' ou 'chuvoso'.")

Qual a temperatura hoje?14
Qual o tempo hoje: ensolarado, nublado ou chuvoso?chuvoso
Não jogar

42 - Construa usando um programa que represente a seguinte árvore abaixo:

![arvore](https://github.com/raquelcreis/CastoresIndomaveis/blob/master/imgs/arvore.png?raw=1)

Quando x = 'bacon', y = [1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e','f','g','h'] e z = 15. Qual valor o programa deverá printar?

Quando x = 'bacon', y = [1,2,3,4], e z = 20. Qual valor o programa deverá printar?

Quando x='couxeiro', y = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]] e z = 21. Qual valor o programa deverá printar?

43 - Use a função zip para juntar as duas listas abaixo em uma tupla.

nomes = ['nasser','joao','mateus']
salarios = [1000,1500,5000]

In [101]:
nomes = ['nasser','joao','mateus']
salarios = [1000,1500,5000]
funcionarios = zip(nomes,salarios)
funcionarios = tuple(funcionarios)
funcionarios

(('nasser', 1000), ('joao', 1500), ('mateus', 5000))

44 - Considera as duas listas abaixo, a primeira demonstra o valor real de venda de uma casa e a segunda demonstra o valor recomendado por um modelo de regressão. Gere uma terceira lista com o resíduo de cada ponto. O resíduo é o resultado da subtração entre o valor real e o valor predito para determinado ponto.

real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]

In [110]:
real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]
residuos = [ x - y for x,y in zip(real,predito) ]
residuos

[-11764, 3270, -1048, -41000]

45 - Utilize a função 'filter' do python para filtrar somente os valores positivos do resultado da questão 44.

In [118]:
def positivos(x):
  return x > 0

filtrado = filter(positivos,residuos)
[x for x in filtrado]

[3270]







46 - Ainda usando o resultado da questão 44 calcule, sem utilizar bibliotecas, o RMSE do valor predito. Referência: https://tinyurl.com/yd9ljcmj

In [131]:
n = len(residuos)
rmse = sum([ (x**2)/n for x in residuos])**(0.5)
rmse

21396.161454803056